 <div class="simpleconnectorconnectcontainer">
	<div class="loading-screen" ng-show="isLoading">
		<div class="qv-loader"></div>
	</div>
 
	<div class="dm-main" style="padding-right:0px;">
		<div class="connectorconnectdialogcontentarea " style="margin-bottom: 50px; min-height: 0px;">
			<div style="margin-left:2px;margin-right:20px;">
	
				<table>

					<tr ng-show="drivers != null">
						<td>
							Driver
						</td>
						<td>
							<span class="nullable">
								<select class="lui-select lui-select--gradient" ng-model="driverInput" ng-options="driver for driver in drivers" ng-change="onDriverInputClicked()">
									<option value="">Select a driver...</option>
								</select>
							</span>
						</td>
					</tr>
				
					<tbody ng-repeat="(driverParamInputIndex, driverParam) in driverParams">
						<tr>
							
							<td ng-if="driverParam.paramType == 0" style="width:150px;margin-top:3px;margin-bottom:3px;margin-right:6px;">
								<div style="height:10px;" />
								<div>
								{{driverParam.paramName}}
								</div>
							</td>
							<td ng-if="driverParam.paramType == 0" style="width:350px;margin-top:3px;margin-bottom:3px;">
								<div style="height:10px;" />
								<div>
								<input class="lui-input" ng-model="driverParam.selectedValues[0].Key" ng-init="driverParam.selectedValues = [ driverParam.paramValues[0] ]"">
								</input>
								</div>
							</td>
							<td ng-if="driverParam.paramType == 1" style="width:150px;margin-top:3px;margin-bottom:3px;margin-right:6px;">
								<div style="height:10px;" />
								<div>
								{{driverParam.paramName}}
								</div>
							</td>
							<td ng-if="driverParam.paramType == 1" style="width:350px;margin-top:3px;margin-bottom:3px;">
								<div style="height:10px;" />
								<div>
								<select class="lui-select lui-select--gradient" ng-model="driverParam.selectedValues[0]" ng-init="driverParam.selectedValues = [ driverParam.paramValues[0] ]" ng-options="item as item.Key for item in driverParam.paramValues">
								</select>
								</div>
							</td>
						</tr>
						
						<tr ng-repeat="(driverSubParamInputIndex, driverSubParam) in driverParam.selectedValues[0].Value">
							<td ng-if="driverSubParam.paramType == 0" style="width:150px;margin-top:3px;margin-bottom:3px;margin-right:6px;">
								<div style="height:5px;" />
								<div>
								{{driverSubParam.paramName}}
								</div>
							</td>
							<td ng-if="driverSubParam.paramType == 0" style="width:150px;margin-top:3px;margin-bottom:3px;margin-right:6px;">
								<div style="height:5px;" />
								<div>
								<input class="lui-input" ng-model="driverSubParam.selectedValues[0].Key" ng-init="driverSubParam.selectedValues = [ driverSubParam.paramValues[0] ]">
								</input>
								</div>
							</td>
							<td ng-if="driverSubParam.paramType == 1" style="width:350px;margin-top:3px;margin-bottom:3px;">
								<div style="height:5px;" />
								<div>
								{{driverSubParam.paramName}}
								</div>
							</td>
							<td ng-if="driverSubParam.paramType == 1" style="width:350px;margin-top:3px;margin-bottom:3px;">
								<div style="height:5px;" />
								<div>
								<select class="lui-select lui-select--gradient" ng-model="driverSubParam.selectedValues[0]" ng-init="driverSubParam.selectedValues = [ driverSubParam.paramValues[0] ]" ng-options="item as item.Key for item in driverSubParam.paramValues" >
								</select>
								</div>
							</td>
						</tr>
						
					</tbody>
				</table>
	
	        </div>
		</div>

		<div class="data-item-container" style="position: absolute;bottom:  20px ;left: 20px;right: 20px;">
			<div style="margin-top: 10px;"><label>Name</label></div>
			<input class="lui-input" style="width:100%;" type="text" ng-model="connectionName" ng-change="connectionNameManuallyChanged()" placeholder="Enter the connection name" />
		</div>
	</main>
</div>